<p id="notice"><%= notice %></p>

<h1>People</h1>

<div class='list-container'>
  <% @people.each do |person| %>
    <div class='list-item'>
      <%= link_to person.fullname, person, class: 'item-fio' %>
      <span class='item-sex'><%= person.sex.capitalize %></span>
      <div class='item-actions'>
        <%= link_to 'Show', person, class: 'show-action' %>
        <%= link_to 'Edit', edit_person_path(person), class: 'edit-action' %>
        <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-action' %>
      </div>
    </div>
  <% end %>
  <%= link_to 'New Person', new_person_path, class: 'new-action' %>
</div>
